{% extends 'base.html.twig' %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="col-md-offset-2">
            <input class="btn btn-primary" type="submit" value="Valider">
            <a class="btn btn-default" href="{{ path('film_lister') }}">Retour à la liste des films</a>
        </div>
    {{ form_end(form) }}

{% endblock %}
