<h1>Ajouter un acteur</h1>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Valider">
{{ form_end(form) }}

<p><a href="{{ path('acteur_lister') }}">Retour à la liste des acteurs</a></p>
